.card .delete {
  display: none;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 5px;
  right: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.6;
  padding: 2;
  color: darkred;
}

.card:hover .delete {
  display: flex;
}

.submitButton:focus {
  background-color: #fafbff;
}

.paragraph a {
  color: #474d66;
}
