.container {
  position: relative;
  color: #425a70;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 80%;
  height: 20px;
  padding: 10px 20px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #425a70;
}

.container ::placeholder {
  opacity: 0.4;
}

.inputFocused {
  outline: none;
}

.inputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.suggestionsContainer {
  display: none;
}

.suggestionsContainerOpen {
  display: block;
  position: absolute;
  top: 41px;
  width: calc(80% + 40px);
  border: 1px solid #aaa;
  background-color: #fff;
  font-size: 1.2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestion {
  cursor: pointer;
  padding: 16px 24px;
}

.suggestionHighlighted {
  background-color: #ddd;
}
