name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: use node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: install & build
        run: |
          yarn
          yarn build
        env:
          CI: true
      - name: semantic-release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}
